[submodule "cv-new"]
	path = cv-new
	url = git@github.com:BlackDark/Developer-Theme.git
	branch = alma-cv-pages
[submodule "resume"]
	path = resume
	url = git@github.com:BlackDark/Developer-Theme.git
	branch = hugo-pages
