[submodule "cv-new"]
	path = cv
	url = git@github.com:BlackDark/Developer-Theme.git
	branch = alma-cv-pages
[submodule "resume"]
	path = cv-old
	url = git@github.com:BlackDark/Developer-Theme.git
	branch = hugo-pages
